:root {
    --primary-color: #a27f14;
    --primary-color-dark: #5a4b09;
    --secondary-color: #fafcff;
    --text-dark: #e0e0df;
    --text-light: #767268;
    --extra-light: #ffffff;
    --max-width: 1200px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 1rem;
  }
  
  .section__subtitle {
    font-size: 1rem;
    color: var(--text-dark);
    max-width: calc(var(--max-width) / 2);
  }
  
  #collectionid{
    background-image: linear-gradient(to bottom right, rgb(10, 9, 9), rgb(30, 30, 29));
    border-radius: 10%;
  }
  .collection_container{
    background-color: #d9dbdf;
  }
  .collection_nav {
    display: flex;
    gap: 1rem;
  }
  
  .collection_nav span {
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .collection_nav span:hover {
    color: var(--extra-light);
    background-color: var(--primary-color);
  }
  
  .collection_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .collection_card {
    overflow: hidden;
    position: relative;
    isolation: isolate;
    cursor: pointer;
  }
  
  .collection_card img {
    border-radius: 1rem;
  }
  
  .collection_details {
    position: absolute;
    width: calc(100% - 2rem);
    padding: 1rem;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--extra-light);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    z-index: 1;
    transition: 0.3s;
  }
  
  .collection_card:hover .collection_details {
    bottom: 1rem;
  }
  
  .collection_titles {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .collection_subtitles {
    font-size: 1rem;
    font-weight: 600;
  }

  
@media (width < 900px) {
    .collection_grid {
      gap: 1rem;
    }
  }
  
  @media (width < 600px) {
    .collection_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }